@page "/aboutus/"

<h1><b>Company Profile</b></h1>

<li>Grooviee has established itself as a newly startup private bus rental transportation company in Singapore.</li>

<li>Our core business is in providing quality private bus hire, bus rentals, and bus chartering with the most affordable price.</li>

<li>We are customer-centric and we strive to create tailored private bus transportation solutions to meet the unique business needs of every customer.</li>

<li>Our drivers are trained to high standards to ensure safe, comfortable and pleasant travel experiences for all our corporate and private customers.</li>

<h5>Our Location:</h5>
<div> 15 Buroh street #06-02 s619474 </div> 

<h5>Email:</h5>
<div>Grooviee@gmail.com</div>

<h4>Prices:</h4>
<h5>10 Seater - $55/hr</h5>
<h5>19 Seater - $69/hr</h5>
<h5>23 Seater - $75/hr</h5>
<h5>40 Seater - $85/hr</h5>
<h5>45 Seater - $90/hr</h5>
<h5>49 Seater - $100/hr</h5>

