@page "/buses/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent bus="bus" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Bus bus = new Bus();
    protected async override Task OnParametersSetAsync()
    {
        bus = await _client.GetFromJsonAsync<Bus>($"{Endpoints.BusesEndpoint}/{id}");
    }
}