@page "/"

 <div class="headerservices">
            <div class="mainbody">
                <div class="maintext_home">
                    <div class="calltoaction">
                        <div class="call_block">
                            <div class="calltoaction-left">
                                <div class="callicon">
                                    <a href="tel:65321307">
                                        <img src="images/img_callus.png" alt="callus" class="callus" />
                                    </a>
                                </div>
                            </div>

                            <div class="calltoaction-right">
                                <div class="callnumber"><span>Call us at</span>&nbsp;<a href="tel:62281937" class="callnumber">6268 5298</a></div>
                            </div>

                            <div style="clear: both"></div>
                        </div>

                        <div style="clear: both"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="servicesbodyservice">
            <div class="mainbody">
                <div class="service_title">
                    <h2>our services include :</h2>
                </div>

                <div class="serviceswithimg_block">
                    <div class="serviceimg_firstblock">
                        <div class="servicesimg_listfirst">
                            <ul>
                                <li>School bus services</li>

                                <li>Shuttle bus services</li>

                                <li>Concert / Event Trips</li>
                            </ul>
                        </div>

                        <div class="servicesimg_imgfirst">
                            <img src="images/ourservices1.jpg" alt="ourservice" class="ourservicesimg_1" />
                        </div>
                    </div>

                    <div class="serviceimg_secondblock">

                        <div class="servicesimg_listsecond">
                            <ul>
                                <li>School Excursion / Field Trips / Camp</li>

                                <li>Funeral</li>

                                <li>Day Care Centres</li>
                            </ul>
                        </div>

                        <div class="servicesimg_imgsecond">
                            <img src="images/ourservices2.jpg" alt="ourservice" class="ourservicesimg_1" />
                        </div>
                    </div>

                    <div class="serviceimg_thirdblock">
                        <div class="servicesimg_listthird">
                            <ul>
                                <li>Wedding Functions</li>

                                <li>Company Functions</li>

                                <li>Etc</li>
                            </ul>
                        </div>

                        <div class="servicesimg_imgthird">
                            <img src="images/ourservices3.jpg" alt="ourservice" class="ourservicesimg_1" />
                        </div>

                        <div style="clear: both"></div>
                    </div>
                </div>
            </div>

            <div style="clear: both"></div>
        </div>

        <SurveyPrompt Title="How is Blazor working for you?" />
