@page "/services/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent service="service" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Service service = new Service();
    protected async override Task OnParametersSetAsync()
    {
        service = await _client.GetFromJsonAsync<Service>($"{Endpoints.ServicesEndpoint}/{id}");
    }
}