@page "/seats/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Seat</h3>
<hr />
<br />
<EditForm Model="@seat" OnValidSubmit="CreateSeat">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Seat: </label>
        <div>
            <InputText @bind-Value="seat.Seats" class="form-control" />
            <ValidationMessage For="@(()=> seat.Seats)" />
        </div>
    </div>

    <button type="submit" class=" btn btn-success btn-block">
        Create Seat
    </button>
</EditForm>

@code {
    Seat seat = new Seat();

    private IList<Seat> Seats;

    protected async override Task OnInitializedAsync()
    {
        Seats = await _client.GetFromJsonAsync<List<Seat>>($"{Endpoints.SeatsEndpoint}");
    }

    private async Task CreateSeat()
    {
        await _client.PostAsJsonAsync(Endpoints.SeatsEndpoint, seat);
        _navManager.NavigateTo("/Seats/");
    }
}