@page "/seats/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Seat</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditSeat" seat="seat" />

@code {
    [Parameter] public int id { get; set; }
    Seat seat = new Seat();

    protected async override Task OnParametersSetAsync()
    {
        seat = await _client.GetFromJsonAsync<Seat>($"{Endpoints.SeatsEndpoint}/{id}");
    }

    async Task EditSeat()
    {
        await _client.PutAsJsonAsync($"{Endpoints.SeatsEndpoint}/{id}", seat);
        _navManager.NavigateTo("/seats/");
    }

}